<div>
  <h3 class="border-bottom mt-3 pb-1">Web Development Projects</h3>
</div>
<div class="">
  <div class="row my-5">
    <div class="col-6">
      <%= image_tag('spitballLandingPage.png', class: "w-100 br-5 border-none shadow") %>
    </div>
    <div class="col-6">
      <i><%= link_to 'Spitball.io', 'https://spitball.io', target: '_blank' %></i>
       is a <b>Ruby on Rails</b> web application I developed in the Spring of 2018.
       It is a platform designed to connect budding entreprenuers with one another
       to form ventures over the internet! It features:
      <ul class="mt-2">
        <li>A Fully Responsive Layout</li>
        <li>A Native Authentication System Integrated With OAuth</li>
        <li>User-Curated Feeds</li>
      </ul>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-6">
      screenshot of the mobile vr store
    </div>
    <div class="col-6">
      <i><a href="">The Mobile VR Store</a></i> is a <b>React</b> and <b>RoR</b> web application I completed in the Spring of 2019.
      It features two virtual reality headsets for mobile devices and is fully integrated with the
      Stripe API. It includes:
      <ul class="mt-2">
        <li>Secure Stripe-powered Checkout</li>
        <li>An Original eCommerce Store Design</li>
        <li>A Fully Responsive Layout</li>
      </ul>
    </div>
  </div>
</div>
