.logo{
  height: 25%;
}
.unlink-text{
  color:black;
  text-decoration: none;
}
.bg-black{
  background-color: black;
}
.focus-text{
  color: white;
  text-decoration: none;
}
.focus-text:hover{
  color: rgb(255,45,0);
}
.pointer{
  cursor: pointer;
}
