<div class="text-center">
  <h6 class="mb-2">
    DOPE STUFF
  </h6>
  <ul class="list-unstyled">
    <li class="">
      <%= link_to image_tag('The_Sideline_Hustle_Podcast.png', class: "border w-50"), "http://www.thesidelinehustle.com/", target: "_blank" %>
      <p class="small">
        SLH Podcast
      </p>
    </li>
  </ul>
</div>
