<nav class="navbar navbar-expand-lg">
  <div class="row col-12">
    <div class="col-3">
      <%= image_tag('iThompkinsHeadshot.png', style: "border-radius: 30px; width: 10vw;") %>
    </div>
    <div class="col-4">

    </div>
    <div class="row col-5">
      <div class="col-4">
        <%= link_to fa_icon('github', class: "unlink-text text-dark icon"), "https://github.com/iThompkins", target: "_blank"  %>
      </div>
      <div class="col-4">
        <%= link_to fa_icon('linkedin', class: "unlink-text text-dark icon"), "https://www.linkedin.com/in/isaiah-thompkins-034076115/", target: "_blank"  %>
      </div>
      <div class="col-4">
        <%= link_to fa_icon('user', class: "unlink-text text-dark icon"), "https://app.joinhandshake.com/users/5941762", target: "_blank"  %>
      </div>
    </div>
  </div>
</nav>
