<div class="row border-bottom border-top text-center bg-black small">
  <div class="col-2">
  </div>
  <div class="col-2">
    <span class=""><%= link_to "BLOG POSTS", posts_path, class: "focus-text unlink-text" %></span>
  </div>
  <div class="col-1">
  </div>
  <div class="col-2">
    <span class="focus-text pointer">CONTACT</span>
  </div>
  <div class="col-1">
  </div>
  <div class="col-2">
    <span class="focus-text pointer">STORE</span>
  </div>
  <div class="col-2">
  </div>
</div>
