<div class="row border-bottom border-top text-center bg-black small">
  <div class="col-3">
    <span class=""><%= link_to "NEW POSTS", posts_path, class: "focus-text" %></span>
  </div>
  <div class="col-3">
    <span class="focus-text pointer"><%= link_to "ABOUT", about_path, class: "focus-text" %></span>
  </div>
  <div class="col-3">
    <span class="focus-text pointer"><%= link_to "MEMORY LANE", memory_lane_path, class: "focus-text" %></span>
  </div>
  <div class="col-3">
    <span class="focus-text pointer">MISC</span>
  </div>
</div>
